<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
  </head>
  <body>
    <h1>Admin</h1>
    <p>Welcome to the admin page!</p>

    <br>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3> Add Users </h3><br>
    <form action="/create_user" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="role">Role:</label><br>
        <input type="text" id="role" name="role"><br>
        <input type="submit" value="Create User">
    </form>
    
  </body>
</html>
