<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TuitionTalk{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='/styles.css') }}">
    <link rel="icon" type="image/png", sizes="32x32" href = ../static/images/CompanyFavicon.png>
</head>

<body>
    <div class="top-header">
         
    </div>
    <div class="nav-container">
        <div class="logo">
            <img src="{{ url_for('main.static', filename='/images/TuitionTalkLogo.png') }}" alt="Logo", style="size: 100px;">
        </div>
        <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
            <div class="close-icon" style="display:none;">
                &times;
            </div>
        </div>

        <div class="nav-overlay"></div>
        <div class="nav-bar">
            <!-- Button for the links -->
            <a href="{{url_for('main.home')}}">Home Page</a>
            <a href="{{url_for('main.about')}}">About</a>
            <a href="{{url_for('main.contact')}}">Contact</a>
            <a href="{{url_for('main.login')}}">Login</a>
            <a href="{{url_for('main.register')}}">Register</a>

        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>© 2023 Tuition Talk. All rights reserved.</p>
    </footer>
    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navToggle = document.querySelector('.nav-toggle');
            const navBar = document.querySelector('.nav-bar');
            const navOverlay = document.querySelector('.nav-overlay');
            const closeButton = document.querySelector('.close-icon');

            navToggle.addEventListener('click', function() {
                navBar.classList.toggle('active');
                navOverlay.classList.toggle('active');
                closeButton.classList.toggle('active'); // Toggle visibility of close icon
            });

            closeButton.addEventListener('click', function() {
                navBar.classList.remove('active');
                navOverlay.classList.remove('active');
                closeButton.classList.remove('active'); // Hide close icon
            });
        });
    </script>
    
    {% endblock %}
</body>
</html>
