{% extends "base.html" %}

{% block title %}Contacts - AmazingEdu{% endblock %}

{% block content %}
    <section class="contact">
        <h2>Get in Touch</h2>
        <p>Have questions or feedback? We'd love to hear from you!</p>
        <ul>
            <li>Email: info@tuitiontalk.com</li>
            <li>Phone: +61 0452 731 688</li>
        </ul>

        <h2>Would you like to enrol?</h2>
        <p>Please email our admin at:</p>
        <ul>
            <li>Email: admin@tuitiontalk.com</li>
            <li>Phone: +61 0452 731 689</li>
        </ul>

        <p>
            Alternatively, you can visit our center @ 1 Perth Street, Perth, WA 6000.<br>

            ////Insert MAPPPPP!!
        </p>
    </section>
{% endblock %}
