{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <section id="login">
        <h1>Please enter your details below</h1>
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
            </div>

            <div class="form-group">
                {{ form.submit(class="button")}}
            </div>
            <div>
                {{ form.remember_me(class="form-checkinput") }}
                {{ form.remember_me.label(class="form-checklabel") }}
            <div/>
            <div class="links"> 
                <a href="/forgot-password">Forgot Password?</a><br><br>
            </div>
            <div class="links">
                <a href="{{ url_for('register') }}">Don't Have an Account?</a><br><br>
            </div>
        </form>
    </section>
{% endblock %}
