{% extends "base.html" %}

{% block title %}Register - TuitionTalk{% endblock %}

{% block content %}
<section id='register'>
    <h1>Register Page</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <!-- Uncomment to use
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" required>
        </div>
        -->

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Create an Account">
        </div>
    </form>
    <a href="{{ url_for('home') }}">Homepage</a>
    <p>Already have an account?</p>
    <a href="{{ url_for('login') }}">Login</a>
</section>
{% endblock %}
